<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SOURCEFOLDER" value="D:\C# basic program\Source Folder\Division 4\Team 1" />
    <add key="DESTINATIONFOLDER" value="D:\C# basic program\Destination Folder\Division 4\Team 1" />
    <add key="TimeSchedule" value="5:00PM" />
   </appSettings>
</configuration>